<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCC3PoGEQOa-WGxO83p9NFr0yoc98XSd7s</string>
	<key>GCM_SENDER_ID</key>
	<string>508155627538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookishFishfillet</string>
	<key>PROJECT_ID</key>
	<string>bookish-fishbowl</string>
	<key>STORAGE_BUCKET</key>
	<string>bookish-fishbowl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508155627538:ios:7d79bba0fb06d23ba270cb</string>
</dict>
</plist>